Привлечение потенциальных пользователей в игру. Предоставление информации о планетах и персонажах. Главная страница должна содержать краткое описание игры. Показывать блок с самыми популярными персонажами. Отображать каталог всех доступных планет.