Функциональные требования:
1. Главная страница: 
Отображать краткое описание игры Honkai: Star Rail. 
Показывать блок с последними добавленными персонажами.
2. Интерактивный блок "Планеты": 
Чтобы просмотреть информацию о "планета" нужно нажать на одноименную кнопку-список в левой части меню сайта для дальнейшего выбора элемента. 
При нажатии на название планеты в выпадающем списке должно всплывать окно с краткой информацией о планете.
3. Блок "Персонажи": 
Отображать галерею всех персонажей на главной странице. 
Чтобы увидеть информацию о персонаже, выберите одну из карточек на главной странице. 
С помощью стрелок "влево" и "вправо" можно перейти к другим карточкам в списке. 
После этого появится окно с кратким описанием и изображением для каждого элемента.
4. Поиск по персонажам: 
В правой части меню находится поле "поиск", с помощью которого можно быстро найти нужный элемент на сайте. 
Если такой элемент существует, появится соответствующее окно. 
В случае отсутствия искомого элемента, сайт уведомит пользователя об ошибке через всплывающее окно. 